<script src="~/Scripts/jquery-1.11.3.min.js">

</script>

<script src="~ / Scripts / jquery.validate.min.js"></script>
<script src="~ / Scripts / jquery.validate.unobtrusive.min.js"></script>

<link href="~ / bootstrap-3.3.6-dist / css / bootstrap.min.css" rel="hoja de estilo" />
<script src="~ / bootstrap-3.3.6-dist / js / bootstrap.js"></script>

<script src="https://lipis.github.io/bootstrap-sweetalert/lib/sweet-alert.js"></script>
<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
<h1 style="color:red">ERROR</h1>
<div class="row">
    <div class="col-md-12">

        <h2>
            YOU CANNOT DELETE THE ITEM.
        </h2><br />
        <h3>-IF YOU WANT TO DELETE A TEACHER FIRST DELETE THE SUBJECT CONTAINING THEIR ID. IN CASE YOU DO NOT WISH TO DELETE THIS SUBJECT, MODIFY IT AND ADD ANOTHER DIFFERENT TEACHER.</h3><br />
        <h3>-IF YOU WANT TO DELETE A STUDENT FIRST DELETE THE INSCRIPTION IN WHICH THEY ARE. IN CASE YOU DO NOT WISH TO DELETE THAT INSCRIPTION, MODIFY IT AND ADD ANOTHER DIFFERENT STUDENT.</h3><br />
        <h3>-IF YOU WANT TO DELETE A SUBJECT FIRST DELETE THE INSCRIPTION IN WHICH IT IS FOUND. IN CASE YOU DO NOT WISH TO DELETE THAT INSCRIPTION, MODIFY IT AND ADD ANOTHER DIFFERENT MATTER.</h3>
        <div class="row" style="text-align:right;padding:5px;">
            <a href="~/Home/Index" class="btn btn-primary">HOME</a>
        </div>
    </div>
</div>

