<script src="~/Scripts/jquery-1.11.3.min.js">

</script>

<script src="~ / Scripts / jquery.validate.min.js"></script>
<script src="~ / Scripts / jquery.validate.unobtrusive.min.js"></script>

<link href="~ / bootstrap-3.3.6-dist / css / bootstrap.min.css" rel="hoja de estilo" />
<script src="~ / bootstrap-3.3.6-dist / js / bootstrap.js"></script>

<script src="https://lipis.github.io/bootstrap-sweetalert/lib/sweet-alert.js"></script>
<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
<h1>ERROR</h1>
<h2>YOU CANNOT DELETE THE STUDENT, YOU MUST DELETE THE INSCRIPTION CONTAINING YOUR ID FIRST</h2><div class="row" style="text-align:right;padding:5px;">
    <a href="~/Teachers/Index" class="btn btn-primary">RETURN LIST</a>
</div>