@{
    ViewBag.Title = "LOGIN";
}
<div class="row">
    <div class="col-md-12">
            <div id="formContent">

                <h1>@ViewBag.Title</h1>

                <form action="@Url.Content("~/Access/Login")" method="post">
                    <input type="text" id="login" class="fadeIn second" name="User"><br /><br />
                    <input type="password" id="password" class="fadeIn third" name="Pass"><br /><br />
                    <input type="submit" class="btn btn-primary" value="LOGIN">
                </form>
            </div>
    </div>
</div>
