@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ALKEMY</h1>
    <p class="lead">
        ALKEMY
        Is the best university in the country where the best students seek to obtain the necessary knowledge to face new challenges in their professional lives.
    </p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>LABORATORIES</h2>
        <p>
            Enjoy the best equipment in laboratories to capture all your knowledge and creativity.
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            BEST EXPERIENCES
        </h2>
        <p>Learn with our experts through unique experiences in the world of education.</p>
    </div>
    <div class="col-md-4">
        <h2>
            REMOTE EDUCATION
        </h2>
        <p>Pioneers in remote education so that people have access to us from anywhere in the country.</p>
    </div>
</div>